<nav class="navbar navbar-default">
  <div class="section">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../../assets/Seven_News.svg" width="100" height="24">
      </a>
    </div>
    <div class="links">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"
        style="cursor: pointer;"
        routerLink="allarticles" (click)=" allArticles()"><a>All Articles</a></li>
        <li routerLinkActive="active"
        style="cursor: pointer;"
        routerLink="toparticles" (click)="topArticles()"><a>Top Articles</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="sub-nav"></div>


