<div class="search-form ">
  <form (submit)="onSubmit()">
    <div class="input-group">
      <input [(ngModel)]="author" placeholder="author" type="text" name="search" class="form-control input-lg rounded-pill">
      <input [(ngModel)]="title" placeholder="title" type="text" name="search" class="form-control input-lg rounded-pill">
      <input [(ngModel)]="date" type="date" id="date" name="date" >
      <div class="input-group-btn button ms-3">
        <button class="btn btn-red">
          Search
        </button>
        <div class="btn-red reset" (click)="reset()">
         <a style="cursor: pointer;">
          <i class="fa fa-refresh" aria-hidden="true"></i>
         </a>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <button (click)="onSort()">Sort</button> -->
<div *ngIf="loading">
  <div class="sort" *ngIf="!noresult">
    <button (click)="onSortasc()">
    <a><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
    </button>
    <button (click)="onSortDesc()">
    <a><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a>
    </button>
  </div>
</div>
<div class="noresult">
  <h1 *ngIf="noresult">No result found </h1>
</div>
<div class="loading">
  <h1 *ngIf="!loading">loading....</h1>
</div>
<div class="row list">
  <div class="col-md-3">
    <div *ngIf="loading">
      <app-newslist *ngIf="!noresult" [allarticles]="AllArticles"
      [sort]="sort"
      [title]="title"
      [author]="author"
      [date]="date"
      [page]="page"
      ></app-newslist>
    </div>
  </div>
  <div class="col-md-9" *ngIf="!noresult">
    <div *ngIf="loading">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
